/session.*
*~
ac-comphist.dat
/elpa/w3m-20141125.1729/
/elpa/w3m-readme.txt
/eshell/lastdir
/eshell/history
/.emacs.d/semanticdb/
/.emacs.d/url/
/eshell
*/semanticdb
wget-log
*/.python-environments/*

/.emacs.d/README.html
*/buffer/*
*/tramp